/* 

font-family: 'Spartan', sans-serif;
Font size: 15px
Weights: 400, 500, 700

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) 

*/


html {
    font-size: 15px;
    font-family: 'Spartan', sans-serif; 
    background-color: white;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    width: 420px;
}

.description {
    color: hsl(303, 10%, 53%);
}



.rate1 , .rate2 , .rate3 {
    background: hsl(300, 24%, 96%);
}

span {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.star {
    background: url(./images/icon-star.png);
    width: 85px;
    height: 16px;
}

.box1 , .box2 , .box3 {
    background: hsl(300, 43%, 22%);
    padding: 35px 30px 40px 30px;
    width: 335px;
    border-radius: 8px;
}

.ava {
    float: left;
    border-radius: 50%;
    height: 50px;
}

h4 {
    color: white;
    display: inline;
}

.buyer {
    color: hsl(333, 80%, 67%);
    padding-top: 3px;
}

.buyername {
    padding-top: 8px;
    padding-left: 70px;
}

.paragraph {
    color: hsl(300, 24%, 96%);
    display: inline-block;
    padding-top: 30px;
}





@media screen and (max-width: 420px) {
    /* MOBILE DISPLAY */
    .desktoptop , .desktopbottom {
        display: none;
    }

    

    html {
        display: flex;
        width: 100%;
        height: 100%;
        zoom: 0.7;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .mobiletop {
        position: absolute;
        width: 370px;

        box-sizing: border-box;
        padding: 0px;
        
        left: 25vw;
    }


    .content {
        margin-top: 50px;
    }

    h1 {
        font-size: 35px;
        width: 345px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .description {
        width: 345px;
        text-align: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .rate1 , .rate2 , .rate3 {
        width: 310px;
        padding: 15px 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .star {
        margin: auto;
    }
    
    span {
        display: inline-block;
        padding-top: 15px;
    }

    
    .box2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .box1 , .box2 , .box3 {
        width: 310px;
    }

    .boxes {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}





@media screen and (min-width: 421px) {
    /* DESKTOP DISPLAY */
    .mobiletop {
        display: none;
    }


    span {
        padding-left: 20px;
    }

    .star {
        display: inline-block;
    }

    .box1 , .box2 , .box3 {
        background: hsl(300, 43%, 22%);
        padding: 35px 30px 40px 30px;
        width: 335px;
        border-radius: 8px;
    }
}